@font-face {
          font-family: navB; 
          src: url("font/Moonbold.otf");
        }

@font-face {
          font-family: head; 
          src: url("font/ARLRDBD.ttf");
        }

@font-face {
          font-family: body; 
          src: url("font/THSarabun Bold.ttf");
        }
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300'

body{
  background-color: #26A88A;
}


h3,h5{
  font-family: navB;
  color:#696969;
}
.avatar{
  
  border-radius: 150px;
  /*box-shadow: 1px 1px 4px #B7B7B7;*/
  width: 80%;
}
.sub_main_panel{
    height: 200px;
    overflow: auto;
}
.alert{
  color:#3F3F3F;
  margin-bottom:0; 
  padding-top: 10px; 
  padding-bottom: 10px;
}

.favbox{
  color:white;
  height: 150px;
  border: 1px solid white;
  padding:10px;

}
.favbox:hover{
  color:white;
  border: 1px solid white;
  cursor: pointer;
}
.white{
  color:#545454  ;
  border: 1px solid #C6C6C6; 
}
.white:hover{
  background-color:grey;
  color:black;
}
.red{
  background-color:#CF5A5A;
}
.red:hover{
  background-color:#C94C4C;
}
.green{
  background-color:#7DC08B;
}
.green:hover{
  background-color:#6BBA7A;
}
.nameStock{
  font-style: bold;
  font-size: 145%;
  height: 25px;
}
.detailStock{
  font-size: 60%;
  height: 60px;
}
.priceStock{
  font-size: 140%;
  font-style: bold;
  height: 25px;
}
.detailPriceStock{
  font-size: 60%;
  height: 10px;
}
.favG{
  font-size: 50%;
}

#nav_menu, #nav_brand {
  font-family: navB;
  color: white;
  font-size: 15px;
  font-style: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
 #profile{
 	height: 180px;
 	background-color:#FFFFFF;
 	padding: 2%;
 	font-family: head;
 	color: #343434 ;
	font-size: 30px;
	font-style: bold;
 }

 #stickyNote {
 	height: 180px;
 	background-color:#E5E5E5;
 	border-style: solid;
 	border-width: 1px;
 	border-color: #C6C6C6;
  padding: 10px;
 	color:#919191;
  font-size: 15px;
}

.nopadding {
  padding: 0 !important;
  margin:0 !important;
}

#plearn {
background-color:white  ;
border:1px solid #343434;
color:black;
font-family: navB;
font-style: bold;
font-size: 15px;
}



#custom-search-input{
    border: solid 1px #DEDEDE ;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: #DEDEDE   ;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
     background: #CDCDCD  ;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.tabinhere {
  font-family: navB;
  color: #5CA895;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
color:#65C3AE  ;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
color:#444444  ;
}
#your .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#7BC1E3;
color:white;
}
#your .nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus{
color:#636363;
}
#pin .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#7BC1E3;
color:white;
}
#pin .nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus{
color:#636363;
}
#top .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#F7C656;
color:white;
}
#top .nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus{
color:#636363;
}
#hot .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#DC6B60;
color:white;
}
#hot .nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus{
color:#636363;
}


.button_lookmore{
  font-family: navB;
  height: 300px;
  background-color:#73BEA4;
  border-style: solid #C6C6C6;
  border-width: 1px;
  color:white;
  font-size: 16px;

}

.button_lookmore:hover{
  background-color:#5CA895;
  color:white;
}

.button_fade{
  font-family: navB;
  height: 300px;
  background-color:#E5E5E5 ;
  border-style: solid #C6C6C6;
  border-width: 1px;
  color:#B9B9B9;
  font-size: 10px;

}

.button_fade:hover{
  background-color:#CBCBCB;
  color:white;
}
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #88CDBC;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 35px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.switch {
    position:relative;
    width:37px;
    height:16px;
    overflow:hidden;
    cursor:pointer;
}
.switch .overlay {
    position:absolute;
    top:0;
    left:0;
    width:37px;
    height:16px;
    background:url('./overlay.png') no-repeat 0 0;
    z-index:9;
}
.switch span.switched {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:58px;
    height:16px;
    background:#d9d9d9 url('./switch.gif') no-repeat 0 0;
    z-index:8;
}
.switch span.off {
    left:-21px;
}
.switch input {
    display:none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .switch .overlay {
        background:url('./overlay@2x.png') no-repeat 0 0;
        background-size:37px 16px;
    }
    .switch span.switched {
        background:url('./switch@2x.gif') no-repeat 0 0;
        background-size:58px 16px;
    }
}
